# How to create a Data Frame dynamically?

In [54]:
import pandas as pd
import os


#Preparation
list_myWords = ["Hello World", "One", "Two", "Mike", "Also a longer sentence", "One more Word", "Python"]

columns = ["Filename", "Language"]

for word in list_myWords:
    columns.append(word)
    columns.append(word +"_Page")

In [55]:
columns

['Filename',
 'Language',
 'Hello World',
 'Hello World_Page',
 'One',
 'One_Page',
 'Two',
 'Two_Page',
 'Mike',
 'Mike_Page',
 'Also a longer sentence',
 'Also a longer sentence_Page',
 'One more Word',
 'One more Word_Page',
 'Python',
 'Python_Page']

In [56]:
# Create the data frame

In [57]:
no_of_row = 5
no_of_cols = len(columns)

In [58]:
df = pd.DataFrame(0, index = range(no_of_row), columns = range(no_of_cols))

In [62]:
df

,Filename,Language,Hello World,Hello World_Page,One,One_Page,Two,Two_Page,Mike,Mike_Page,Also a longer sentence,Also a longer sentence_Page,One more Word,One more Word_Page,Python,Python_Page
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [60]:
df.columns = columns

In [61]:
# Access Data Frame by number

In [68]:
df.iloc[1,0]

0

In [69]:
dict_df = {}
counter = 0

for col in columns:
    dict_df[col] = counter
    counter = counter + 1

In [70]:
df.iloc[1,dict_df["Filename"]]

0